body {
    font-family: Arial, sans-serif;
    background-color: hsl(47, 88%, 63%);
    text-align: left;
}





.container-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start
    gap: 2px;
    border: 1px solid black;
    border-radius: 13px;
    width: 300px;
    height: 410px;
    background-color: hsl(0, 0%, 100%);
    margin: 140px auto;
    box-shadow: 7px 7px;

} 
  


    
.im1 {
    margin-top: 15px;
    border-radius: 10px;
    width: 270px;
    margin-left: 15px;

}



    .learn {
        background-color: hsl(47, 88%, 63%);
        color: black;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 10px;
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 220px;
        text-align: center;
    }

    .pub {
        font-size: 10px;
        margin-left: 15px;
        margin-right: 160px;
        margin-top: 10px;
        color: hsl(0, 0%, 7%);
        
    }



    h1 {
        font-size: 20px;
        margin-left: 15px;
        margin-right: 20px;
        margin-top: 5px;
    }


    .lang {
        font-size: 13px;
        margin-right: 10px;
        margin-top: 1px;
        margin-left: 18px;
        color: hsl(0, 0%, 42%);
    }
    

    .greg {
        display: flex;
        gap: 10px;
        margin-top: 5px;
        /* margin-bottom: 5px; */
        

    }



    .im2 {
        width: 25px;
        height: 25px;
        margin-left: 15px;
        margin-top: 5px;
    }



    .hoop {
        margin-top: 13px;
        text-decoration: none;
        font-size: 10px;
        color: black;
        font-weight:bold;
    }



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
  