
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');






body {
    font-family: Figtree, sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    font-weight: 500;
}


* {
    box-sizing: border-box;
}





.container-box {
    border: 1px solid black;
    border-radius: 13px;
    max-width: 24rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 7px 7px;
    

} 
  


    
.im1 {
    margin-top: 15px;
    border-radius: 10px;
    width: 92%;
    margin-left: 15px;
}



    button {
        background-color: hsl(47, 88%, 63%);
        color: black;
        font-weight: bold;
        border-style: none;
        padding: 5px 10px;
        font-size: 9px;
        margin-top: 15px;
        margin-left: 15px;
        text-align: center;
    }

    


    .pub {
        font-size: 10px;
        margin-left: 15px;
        color: hsl(0, 0%, 7%);
        
    }



    h1 {
        font-size: 1.20rem;
        margin-left: 15px;
        margin-top: 5px;
    }


    h1:hover {
        color: hsl(47, 88%, 63%);
    }


    .lang {
        font-size: 16px;
        margin-left: 15px;
        color: hsl(0, 0%, 42%);
    }
    

    .greg {
        display: flex;
        gap: 7px;
        margin-top: 5px;
        margin-bottom: 20px;
        

    }



    .im2 {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-top: 7px;
    }



    .hoop {
        margin-top: 10px;
        text-decoration: none;
        font-size: 10px;
        color: black;
        font-weight:bold;
    }

    .hoop:hover {
        color: blue;
    }



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
  